services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - .:/app
      - vscode-extensions:/root/.vscode-server/extensions
    environment:
      - PYTHONDONTWRITEBYTECODE=1
    entrypoint: /app/docker/entrypoint.sh
volumes:
  vscode-extensions: