services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
      - "443:443"
    dns:
      - 8.8.8.8
    volumes:
      - .:/app
      - python_libs:/usr/local/lib/python3.12/site-packages
    environment:
      - PYTHONPYCACHEPREFIX=/tmp/pycache
    entrypoint: /app/docker/entrypoint.sh
volumes:
  python_libs: